# ==========================
# IGNORAR DATASETS xBD
# ==========================
DB/*
DB_filtered/*
!DB/.gitkeep
!DB_filtered/.gitkeep
!DB_filtered/images/.gitkeep
!DB_filtered/labels/.gitkeep
!DB_filtered/masks/.gitkeep
!DB_filtered/contours/.gitkeep
!DB_filtered/scale/.gitkeep



Segmentation/DB_filtered_v1/*
!DB_filtered_v1/.gitkeep
!DB_filtered_v1/images/.gitkeep
!DB_filtered_v1/labels/.gitkeep
!DB_filtered_v1/masks/.gitkeep
!DB_filtered_v1/contours/.gitkeep
!DB_filtered_v1/scale/.gitkeep
# Ignore virtual environments
venv/
*.env

# Ignore Python cache   
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

models/*.pth

predictions/masks_filtered/*.png
predictions/masks/*.png
Clasification/dataset/*.png
Clasification/dataset/holdout/*.png
Clasification/dataset_train/*.png
